@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
}

body {
  font-family: "Roboto";
}

#specials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #eee0cb;
  border-radius: 10px;
  margin: 5px;
}

.special-food {
  margin: 5px;
  width: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #ffffb0;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.special-ingredient-name {
  font-size: 1.9em;
}
.special-title {
  font-size: 1.4em;
  font-weight: bold;
}
.special-type {
  padding: 5px;
  background-color: #3434ff;
  border-radius: 6px;
  color: yellow;
  font-size: 1.2em;
}

#recipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: burlywood;
  border-radius: 10px;
  margin: 5px;
}

.food {
  margin: 5px;
  width: 400px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #eee;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.food-img {
  width: 100%;
}

.recipe-subtitle {
  font-size: 1em;
  font-weight: bold;
}
.recipe-subtitle-wrapper {
  margin: 4px 0;
}
.recipe-subtitle-wrapper li {
  margin-bottom: 20px;
}
.recipe-subtitle-wrapper li .optional-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.recipe-subtitle-wrapper li .optional-wrapper h4 {
  margin-right: 3px;
}

.ingredient-subtitle {
  font-weight: bold;
}

.amount {
  margin-right: 2px;
}

.date {
  margin-top: 10px;
}
.date-title {
  font-weight: bold;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#wrapper .h1-title {
  font-size: 5em;
}