* {
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto";
}
#specials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(238, 224, 203);
  border-radius: 10px;
  margin: 5px;
}
.special {
  &-food {
    margin: 5px;
    width: 200px;
    height: fit-content;
    background-color: rgb(255, 255, 176);
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
  }
  &-ingredient-name {
    font-size: 1.9em;
  }
  &-title {
    font-size: 1.4em;
    font-weight: bold;
  }
  &-type {
    padding: 5px;
    background-color: rgb(52, 52, 255);
    border-radius: 6px;
    color: yellow;
    font-size: 1.2em;
  }
}
#recipe {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: burlywood;
  border-radius: 10px;
  margin: 5px;
}
.food {
  margin: 5px;
  width: 400px;
  height: fit-content;
  background-color: #eee;
  box-shadow: 2px 2px 5px black;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  &-img {
    width: 100%;
  }
}

.recipe {
  &-subtitle {
    font-size: 1em;
    font-weight: bold;
    &-wrapper {
      margin: 4px 0;
      li {
        margin-bottom: 20px;
        // display: flex;
        // flex-direction: column;
        .optional-wrapper {
          h4 {
            margin-right: 3px;
          }
          display: flex;
        }
      }
    }
  }
}
.ingredient-subtitle {
  font-weight: bold;
}

.amount {
  margin-right: 2px;
}
.date {
  margin-top: 10px;

  &-title {
    font-weight: bold;
  }
}
